.app {
  padding: 20px;
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.filters-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter label {
  font-size: 16px;
  margin-bottom: 5px;
}

.filter select {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 180px;
}

.filter select:focus {
  border-color: #007bff;
  outline: none;
}

.filter select.dark-mode {
  background-color: #555;
  color: #ddd;
  border-color: #777;
}

.filter select.dark-mode:focus {
  border-color: #4d90fe;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.pokemon-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border-color 0.3s;
}

.pokemon-card:hover {
  background-color: #f0f0f0;
  border-color: #bbb;
}

.pokemon-card img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.pokemon-stats {
  margin-top: 10px;
}

.pokemon-stats p {
  margin: 5px 0;
}
